@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}



@{
    var image = Model.Value<IPublishedContent>("heroImage");
}



<div class="heroContainer">
    <h1 class="heroTitle">@Model.Value("heroHeading")</h1>
    <img class="heroImage" src="@image.Url()" alt="image hero" />
    <h3 class="heroText">@Model.Value("heroMessage")</h3>
</div>
