@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    font-family: "Poppins", sans-serif;
    font-size: 700;
    margin: 0 auto;
    width: 100%;
}

.heroContainer {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    height: 46vh;
    width: 100%;
    object-fit: contain;
    z-index: -999;
}

.heroImage {
    object-fit: cover;
    position: fixed;
    width: 100%;
    z-index: -9;
    height: 35em;
}

.heroTitle {
    position: fixed;
    /*z-index: -1;*/
    color: #dddddd;
    margin-top: 3.7em;
    font-size: 2.2rem;
    background-color: #0000008c;
    padding: 0.7em 5em;
    font-weight: 200;
}

.heroText {
    position: fixed;
    color: #dddddd;
    font-weight: 100;
    margin-top: 10.7em;
}


/*footer*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    opacity: 0.9;
    background-color: #c09e87;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: space-evenly;
    margin-top: 1em;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 50px 70px;
    align-items: center;
    justify-items: center;
}

.grid-item {
    padding-top: 1em;
    padding-bottom: 1em;
}

ul{
    list-style-type: none; 
}

.footer-copy-right {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
}
